---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import { loadPosts } from '../scripts/loadPosts.js'
const allPosts = await loadPosts();
const pageTitle = "ブログ";
console.log(allPosts); // ターミナルに出力される！
---

<BaseLayout pageTitle={pageTitle}>
	<p>Astroについて学んだことを綴るページである。</p>
		<ul>
			{allPosts.map(post => <BlogPost url={post.url} title={post.title}></BlogPost>)}
		</ul>
</BaseLayout>
