---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const pageTitle = "Ju5momのAstro学習";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation />
		<h1>{pageTitle}</h1>
		<h2>next</h2>
		<p><a href="https://docs.astro.build/ja/tutorial/3-components/3/">ヘッダーを作ってみよう</a>　次回はここからスタート！</p>
		<h2>memo</h2>
		<ul>
			<li>Astroのテンプレート構文はJSX構文に似ています。HTMLでスクリプトを使用する方法がわからない場合は、JSXでのやり方を検索するのが良い出発点になるでしょう！</li>
		</ul>
		<Footer />
	</body>
</html>
